.cart-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6vw 0vw;
  row-gap: 2vw;
}
.cart {
  width: 50%;
  height: 9vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.1vw solid rgba(0, 0, 0, 0.2);
  border-radius: 1vw;
  padding: 0.5vw 1vw;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.cart-left {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.cart-img-container > img {
  width: 6vw;
  border-radius: 0.5vw;
}
.cart-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 1vw;
}
.cart-info > span {
  font-family: sans-serif;

  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.cart-info > span:first-child {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 2rem);
}
.cart-controller-container {
  min-width: 20%;
  direction: rtl;
}
.price-section {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.cart-product-name {
  width: 30vw;
  max-height: 5vw;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}
.empty-cart {
  display: flex;
  width: 100vw;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5vw;
}
