.drop-down {
  display: flex;
  flex-direction: row;
}
.dropdown-button {
  background: none;
  color: white;
  font-size: inherit;
  border: none;
}
.dropdown.active > .dropdown-button,
.dropdown-button:hover {
  color: black;
  cursor: pointer;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  display: grid;
  row-gap: 1vw;
  left: 0.4vw;
  top: calc(100% + 1vw);
  background-color: white;
  color: gray;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}
.dropdown.active > .dropdown-button + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.category {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.category > a {
  color: gray;
  padding-left: 0.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.category > a:hover {
  color: black;
}
.category > .sub-category {
  padding-left: 0px;
  font-weight: bold;
}
