.page-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3vw;
  height: fit-content;
  margin-top: 5vw;
  align-items: start;
}
.product-layout {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(5, 12vw);
  grid-auto-rows: 1fr;
  gap: 2vw;
  margin-left: 5vw;
}
.filter-container {
  width: 80%;
  background-color: rgb(241, 241, 241);
  padding: 1vw;
  border: 0.1vw solid black;
  border-radius: 15px;
}
